img {
  padding: 1vw;
  position: relative;
}



.container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    position: relative;
    z-index: 1000;
  }

  .text {
    pointer-events: none;
    justify-content: start !important;
    font-family: 'Open Sans', sans-serif;
    line-height: 0px;
  }
  
  .innerText {
    font-size: 5vw;
  }

  .number {
    font-size: 45vw;
    color: #373c4c;
  }
  
  .number span {
    display: inline-block;
    position: relative;
    transform: translate3d(-30%, 0, 0);
  }
  
  .header {
    margin-left: 35vw;
    color: white;
  }
  
  .stripe {
    height: 0.3vw;
    width: 30vw;
  }
  
  .slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20vw 0, 75% 0, calc(75% - 30vw) 100%, 0 100%);
  }
  
  .slopeEnd {
    clip-path: polygon(74% 0, 100% 0, calc(100% - 20vw) 100%, calc(74% - 30vw) 100%);
  }
  
  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 140%;
    height: 100%;
    cursor: pointer;
  }
  
  .pink {
    background: linear-gradient(to right, #00F260 0%, #0575E6 100%);
  }
  
  .teal {
    background: linear-gradient(to right, #fe8c00 0%, #f83600 100%);
  }
  
  .tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);
  }

